.footer {
  //background-color: $white;
  bottom: 0;
  position: fixed;
  padding: 10px;
  .navbar-nav {
    li {
      display: inline;
      margin-right: 10px;
      color: $vertiv-gray;
      @include font-size (13);
      a {
        color: $vertiv-gray;
        margin-bottom: 10px;
        display: inline-block;
      }
      &:after {
        content: '.';
      }
    }
  }
}