.navigation {
  background-color: $supporting-grey-800;
  li {
    padding-right: 3rem;
    a {
      @include font-size(18);
      letter-spacing: .5px;
      color: $white;
      &:hover {
        color: $supporting-grey-300;
      }
    }
    &:last-child {
      padding-right: 0;
    }
    .current {
      color: $vertiv-gray;
    }

    
  }
  @include respond-to('xxl') {
    padding-left: calc(50% - 715px);
    padding-right: calc(50% - 715px);
  }
  @include respond-to('md') {
    padding-left: calc(0% + 60px);
    padding-right: calc(0% + 60px);
  }
}


// @media only screen and (min-width: 1500px) {
//   .navigation {}
// }