/* Sidebar Styles */

#sticky-sidebar {
  min-height: 100vh;
}

.sidebar-wrapper {
  overflow: hidden;
  .sidebar-nav {
    list-style: none;
    .sidebar-section {
      //margin: 37px 0;
      //border-bottom: .3px solid #333;
      h4 {
        @include font-size (18);
        @include font-weight(normal);
        color: $supporting-grey-700;
        font-family: $font-heading;
        margin-bottom: 10px;
        letter-spacing: .5px;
        a {
          color: $supporting-grey-700;
          &:hover {
            text-decoration: none;
            color: $supporting-grey-300;
          }
          .active {
            @include font-weight(semibold);
          }
        }
      }
    }
    li {
      line-height: 1.6;
      padding: 10px 0;
      a {
        @include font-size (16);
        @include font-weight (normal);
        display: block;
        text-decoration: none;
        color: $supporting-grey-700; //letter-spacing: .5px;
        &:hover {
          text-decoration: none;
          color: #ccc;
        }
        &:active,
        &:focus {
          text-decoration: none;
        }
      }
      .active {
        @include font-weight (semibold);
      }
    }
    .sidebar-brand {
      // .brand-logo {
      //   img {
      //     height: 50px !important;
      //   }
      // }
      .brand-name {
        @include font-size (16);
        @include font-weight (semibold);
        text-transform: uppercase;
        color: $white;
        letter-spacing: 1px;
      }
    }
  }
}

// @media(min-width:768px) {
//   #wrapper {
//     padding-left: 250px;
//   }
//   #sidebar-wrapper {
//     width: 250px;
//   }
//   #page-content-wrapper {
//     padding: 20px;
//     position: relative;
//   }0
// }