// background colors
// new branding
.primary-new-orange_bg {
    background: $primary-color-refresh;
}

.primary-new-white_bg {
    background-color: $primary-color-white;
}

.primary-new-black_bg {
    background-color: $primary-color-black;
}

.supporting-grey-700_bg {
    background-color: $supporting-grey-700;
}

.supporting-grey-600_bg {
    background-color: $supporting-grey-600;
}

.supporting-grey-500_bg {
    background-color: $supporting-grey-500;
}

.supporting-grey-400_bg {
    background-color: $supporting-grey-400;
}

.supporting-grey-300_bg {
    background-color: $supporting-grey-300;
}

.supporting-grey-200_bg {
    background-color: $supporting-grey-200;
}

.supporting-grey-100_bg {
    background-color: $supporting-grey-100;
}

.bg-xx-dark {
    background: $xx-dark-shade !important;
}

.bg-x-dark {
    background: $x-dark-shade !important;
}

.bg-dark {
    background: $dark-shade !important;
}

.bg-light {
    background: $light-shade !important;
}

.bg-x-light {
    background: $x-light-shade !important;
}

.bg-xx-light {
    background: $accent-color !important;
}

.bg-xxx-light {
    background: $accent-hover-color !important;
}

.bg-xxxx-light {
    background: $xx-light-shade !important;
}

.bg-primary {
    background: $primary-color !important;
}

.bg-primary-light {
    background: $primary-color-accent !important;
}

.bg-primary-x-light {
    background: $primary-hover-color !important;
}

.secondary-red {
    background-color: $danger-color !important;
}

.secondary-red-light {
    background-color: $danger-color-light !important;
}

.secondary-red-x-light {
    background-color: $danger-color-x-light !important;
}

.secondary-green {
    background-color: $special-color !important;
}

.secondary-green-light {
    background-color: $special-color-light !important;
}

.secondary-green-x-light {
    background-color: $special-hover-color !important;
}

.secondary-blue {
    background-color: $info-color !important;
}

.secondary-blue-light {
    background-color: $info-color-light !important;
}

.secondary-blue-x-light {
    background-color: $info-hover-color !important;
}

//text color
.t-xxx-dark,
.text-xxx-dark,
.t-xxxx-dark,
.text-xxxx-dark,
.text-black,
.t-black,
    {
    color: $black !important;
}

.t-xx-dark,
.text-xx-dark {
    color: $xx-dark-shade !important;
}

.t-x-dark,
.text-x-dark {
    color: $x-dark-shade !important;
}

.t-dark,
.text-dark {
    color: $dark-shade !important;
}

.t-light,
.text-light {
    color: $light-shade !important;
}

.t-x-light,
.text-x-light,
.t-inactive {
    color: $x-light-shade !important;
}

.t-xx-light,
.text-xx-light {
    color: $accent-color !important;
}

.t-xxx-light,
.text-xxx-light {
    color: $accent-hover-color !important;
}

.t-xxxx-light,
.text-xxxx-light,
.white {
    color: $xx-light-shade !important;
}

.t-primary,
.text-primary {
    color: $primary-color !important;
}

.t-primary-light,
.text-primary-light {
    color: $primary-color-accent !important;
}

.t-primary-x-light,
.text-primary-x-light,
.t-warning,
.text-warning,
.warning {
    color: $primary-hover-color !important;
}

.danger,
.error,
.text-danger,
.t-danger,
.t-secondary-red,
.text-secondary-red {
    color: $danger-color !important;
}

.t-secondary-red-light,
.text-secondary-red-light {
    color: $danger-color-light !important;
}

.t-secondary-red-x-light,
.text-secondary-red-x-light {
    color: $danger-color-x-light !important;
}

.special,
.success,
.text-success,
.t-success,
.t-special,
.t-secondary-green,
.text-secondary-green {
    color: $special-color !important;
}

.t-secondary-green-light,
.text-secondary-green-light {
    color: $special-color-light !important;
}

.t-secondary-green-x-light,
.text-secondary-green-x-light {
    color: $special-hover-color !important;
}

.info,
.text-info,
.t-info,
.t-info,
.t-secondary-blue,
.text-secondary-blue {
    color: $info-color !important;
}

.t-secondary-blue-light,
.text-secondary-blue-light {
    color: $info-color-light !important;
}

.t-secondary-blue-x-light,
.tex-secondary-blue-x-light {
    color: $info-hover-color !important;
}

//text color
.t-xx-dark,
.text-xx-dark {
    color: $xx-dark-shade !important;
}

.t-x-dark,
.text-x-dark {
    color: $x-dark-shade !important;
}

.t-dark,
.text-dark {
    color: $dark-shade !important;
}

.t-light,
.text-light {
    color: $light-shade !important;
}

.t-x-light,
.text-x-light {
    color: $x-light-shade !important;
}

.t-xx-light,
.text-xx-light {
    color: $accent-color !important;
}

.t-xxx-light,
.text-xxx-light {
    color: $accent-hover-color !important;
}

.t-xxxx-light,
.text-xxxx-light,
.t-white,
.text-white {
    color: $xx-light-shade !important;
}

.t-primary,
.text-primary {
    color: $primary-color !important;
}

.t-primary-light,
.text-primary-light {
    color: $primary-color-accent !important;
}

.t-primary-x-light,
.text-primary-x-light,
.t-warning,
.text-warning,
.warning {
    color: $primary-hover-color !important;
}

.danger,
.error,
.text-danger,
.t-danger,
.t-secondary-red,
.text-secondary-red {
    color: $danger-color !important;
}

.t-secondary-red-light,
.text-secondary-red-light {
    color: $danger-color-light !important;
}

.t-secondary-red-x-light,
.text-secondary-red-x-light {
    color: $danger-color-x-light !important;
}

.special,
.success,
.text-success,
.t-success,
.t-special,
.t-secondary-green,
.text-secondary-green {
    color: $special-color !important;
}

.t-secondary-green-light,
.text-secondary-green-light {
    color: $special-color-light !important;
}

.t-secondary-green-x-light,
.text-secondary-green-x-light {
    color: $special-hover-color !important;
}

.info,
.text-info,
.t-info,
.t-info,
.t-secondary-blue,
.text-secondary-blue {
    color: $info-color !important;
}

.t-secondary-blue-light,
.text-secondary-blue-light {
    color: $info-color-light !important;
}

.t-secondary-blue-x-light,
.tex-secondary-blue-x-light {
    color: $info-hover-color !important;
}