// Calibre 
@font-face {
  font-family: 'Calibre';
  src: url("/fonts/Calibre/CalibreWeb-MediumItalic.eot");
  src: url("/fonts/Calibre/CalibreWeb-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre/CalibreWeb-MediumItalic.woff2") format("woff2"), url("/fonts/Calibre/CalibreWeb-MediumItalic.woff") format("woff"), url("/fonts/Calibre/CalibreWeb-MediumItalic.svg#CalibreWeb-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url("/fonts/Calibre/CalibreWeb-Thin.eot");
  src: url("/fonts/Calibre/CalibreWeb-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre/CalibreWeb-Thin.woff2") format("woff2"), url("/fonts/Calibre/CalibreWeb-Thin.woff") format("woff"), url("/fonts/Calibre/CalibreWeb-Thin.svg#CalibreWeb-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url("/fonts/Calibre/CalibreWeb-Medium.eot");
  src: url("/fonts/Calibre/CalibreWeb-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre/CalibreWeb-Medium.woff2") format("woff2"), url("/fonts/Calibre/CalibreWeb-Medium.woff") format("woff"), url("/fonts/Calibre/CalibreWeb-Medium.svg#CalibreWeb-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url("/fonts/Calibre/CalibreWeb-BoldItalic.eot");
  src: url("/fonts/Calibre/CalibreWeb-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre/CalibreWeb-BoldItalic.woff2") format("woff2"), url("/fonts/Calibre/CalibreWeb-BoldItalic.woff") format("woff"), url("/fonts/Calibre/CalibreWeb-BoldItalic.svg#CalibreWeb-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url("/fonts/Calibre/CalibreWeb-LightItalic.eot");
  src: url("/fonts/Calibre/CalibreWeb-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre/CalibreWeb-LightItalic.woff2") format("woff2"), url("/fonts/Calibre/CalibreWeb-LightItalic.woff") format("woff"), url("/fonts/Calibre/CalibreWeb-LightItalic.svg#CalibreWeb-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url("/fonts/Calibre/CalibreWeb-Regular.eot");
  src: url("/fonts/Calibre/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre/CalibreWeb-Regular.woff2") format("woff2"), url("/fonts/Calibre/CalibreWeb-Regular.woff") format("woff"), url("/fonts/Calibre/CalibreWeb-Regular.svg#CalibreWeb-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url("/fonts/Calibre/CalibreWeb-Bold.eot");
  src: url("/fonts/Calibre/CalibreWeb-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre/CalibreWeb-Bold.woff2") format("woff2"), url("/fonts/Calibre/CalibreWeb-Bold.woff") format("woff"), url("/fonts/Calibre/CalibreWeb-Bold.svg#CalibreWeb-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url("/fonts/Calibre/CalibreWeb-ThinItalic.eot");
  src: url("/fonts/Calibre/CalibreWeb-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre/CalibreWeb-ThinItalic.woff2") format("woff2"), url("/fonts/Calibre/CalibreWeb-ThinItalic.woff") format("woff"), url("/fonts/Calibre/CalibreWeb-ThinItalic.svg#CalibreWeb-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url("/fonts/Calibre/CalibreWeb-Black.eot");
  src: url("/fonts/Calibre/CalibreWeb-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre/CalibreWeb-Black.woff2") format("woff2"), url("/fonts/Calibre/CalibreWeb-Black.woff") format("woff"), url("/fonts/Calibre/CalibreWeb-Black.svg#CalibreWeb-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url("/fonts/Calibre/CalibreWeb-Semibold.eot");
  src: url("/fonts/Calibre/CalibreWeb-Semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre/CalibreWeb-Semibold.woff2") format("woff2"), url("/fonts/Calibre/CalibreWeb-Semibold.woff") format("woff"), url("/fonts/Calibre/CalibreWeb-Semibold.svg#CalibreWeb-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url("/fonts/Calibre/CalibreWeb-BlackItalic.eot");
  src: url("/fonts/Calibre/CalibreWeb-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre/CalibreWeb-BlackItalic.woff2") format("woff2"), url("/fonts/Calibre/CalibreWeb-BlackItalic.woff") format("woff"), url("/fonts/Calibre/CalibreWeb-BlackItalic.svg#CalibreWeb-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url("/fonts/Calibre/CalibreWeb-Light.eot");
  src: url("/fonts/Calibre/CalibreWeb-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre/CalibreWeb-Light.woff2") format("woff2"), url("/fonts/Calibre/CalibreWeb-Light.woff") format("woff"), url("/fonts/Calibre/CalibreWeb-Light.svg#CalibreWeb-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url("/fonts/Calibre/CalibreWeb-RegularItalic.eot");
  src: url("/fonts/Calibre/CalibreWeb-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre/CalibreWeb-RegularItalic.woff2") format("woff2"), url("/fonts/Calibre/CalibreWeb-RegularItalic.woff") format("woff"), url("/fonts/Calibre/CalibreWeb-RegularItalic.svg#CalibreWeb-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url("/fonts/Calibre/CalibreWeb-SemiboldItalic.eot");
  src: url("/fonts/Calibre/CalibreWeb-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Calibre/CalibreWeb-SemiboldItalic.woff2") format("woff2"), url("/fonts/Calibre/CalibreWeb-SemiboldItalic.woff") format("woff"), url("/fonts/Calibre/CalibreWeb-SemiboldItalic.svg#CalibreWeb-SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}