// rem to px fall back
// use as font-size (16) to render as 1.6rem/16px
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

//placeholder
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

//line-height - rem with px fallback
@mixin line-height($heightValue: 12) {
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (0.1 * $heightValue) + rem;
}

//font weight
@mixin font-weight($weight) {
  $weights: (
    thin: 100,
    light: 300,
    normal: 400,
    regular: 400,
    medium: 500,
    semibold: 600,
    bold: 700
  );
  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }
  font-weight: $output;
}

//flexbox
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

//flexbox values
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

//flexbox order
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

//flex direction
@mixin flex-direction($direction) {
  @if $direction==column {
    -webkit-flex-direction: vertical;
    -moz-flex-direction: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  } @else {
    -webkit-flex-direction: horizontal;
    -moz-flex-direction: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

@mixin flex-wrap($value) {
  -webkit-flex-wrap: $value;
  flex-wrap: $value;
}

@mixin flex-grow($value) {
  -webkit-flex-grow: $value;
  flex-grow: $value;
}

@mixin flex-shrink($value) {
  -webkit-flex-shrink: $value;
  flex-shrink: $value;
}

@mixin flex-basis($value) {
  -webkit-flex-basis: $value;
  flex-basis: $value;
}

@mixin flex($value) {
  -webkit-flex: $value;
  flex: $value;
}

@mixin justify-content($value) {
  -webkit-justify-content: $value;
  justify-content: $value;
}

/*
* Align Items Mixin with fallback (http://css-tricks.com/rgba-browser-support/)
*/

@mixin align-items($value) {
  -webkit-align-content: $value;
  align-content: $value;
}

/*
* Opacity-Mixin with fallback (http://css-tricks.com/rgba-browser-support/)
*/

@mixin opacity($value) {
  $IEValue: $value * 100;
  opacity: $value;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' + $IEValue + ')';
  filter: alpha(opacity=$IEValue);
}

/*
* Center Block
*/

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
* RGBa-Mixin with fallback
*/

@mixin rgba($property, $background: #000, $opacity: 0.75, $mix: #fff) {
  #{$property}: mix($background, $mix, $opacity * 100%);
  #{$property}: rgba($background, $opacity);
}

/*
* Clear Fix
*/

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

/*
* Border Radius
*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius + rem;
  border-radius: $radius + rem;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

//  @mixin rotate($degrees) {
//     -webkit-transform: rotate($degrees);
//     -moz-transform: rotate($degrees);
//     -ms-transform: rotate($degrees);
//     -o-transform: rotate($degrees);
//     transform: rotate($degrees);
//     -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=#{-1*sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
//     filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=#{-1*sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
// }
/*
* Transform
*/

// generic transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

//placeholder
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

//font-size -- rem with px fallback
@mixin font-size($size) {
  font-size: $size * 1px;
  font-size: $size * 0.1rem;
}

//line-height - rem with px fallback
@mixin line-height($heightValue: 12) {
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (0.1 * $heightValue) + rem;
}

//font weight
@mixin font-weight-modifiers() {
  &.x-thin {
    font-weight: 100; //light
  }
  &.thin {
    font-weight: 300; //semilight
  }
  &.regular {
    font-weight: 400; //regular
  }
  &.thick {
    font-weight: 500; //medium
  }
  &.x-thick {
    font-weight: 600; //semibold
    letter-spacing: 0.05rem;
  }
  &.xx-thick {
    font-weight: 700; //bold
    letter-spacing: 0.05rem;
  }
  &.xxx-thick {
    font-weight: 900; //black
    letter-spacing: 0.05rem;
  }
}

//flexbox
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

//flexbox values
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

//flexbox order
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

//flex direction
@mixin flex-direction($direction) {
  @if $direction==column {
    -webkit-flex-direction: vertical;
    -moz-flex-direction: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  } @else {
    -webkit-flex-direction: horizontal;
    -moz-flex-direction: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

@mixin flex-wrap($value) {
  -webkit-flex-wrap: $value;
  flex-wrap: $value;
}

@mixin flex-grow($value) {
  -webkit-flex-grow: $value;
  flex-grow: $value;
}

@mixin flex-shrink($value) {
  -webkit-flex-shrink: $value;
  flex-shrink: $value;
}

@mixin flex-basis($value) {
  -webkit-flex-basis: $value;
  flex-basis: $value;
}

@mixin flex($value) {
  -webkit-flex: $value;
  flex: $value;
}

@mixin justify-content($value) {
  -webkit-justify-content: $value;
  justify-content: $value;
}

/*
* Align Items Mixin with fallback (http://css-tricks.com/rgba-browser-support/)
*/

@mixin align-items($value) {
  -webkit-align-content: $value;
  align-content: $value;
}

/*
* Opacity-Mixin with fallback (http://css-tricks.com/rgba-browser-support/)
*/

@mixin opacity($value) {
  $IEValue: $value * 100;
  opacity: $value;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' + $IEValue + ')';
  filter: alpha(opacity=$IEValue);
}

/*
* Center Block
*/

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
* RGBa-Mixin with fallback
*/

@mixin rgba($property, $background: #000, $opacity: 0.75, $mix: #fff) {
  #{$property}: mix($background, $mix, $opacity * 100%);
  #{$property}: rgba($background, $opacity);
}

/*
* Clear Fix
*/

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

/*
* Border Radius
*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

/*
* Transform
*/

// generic transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}
