// Primary Colors
$primary-color-refresh: #fe5b1b;
$primary-color-white: #ffffff;
$primary-color-black: #000000;
$primary-vertiv-grey: #4d4d4d;
// Supporting Grays
$supporting-grey-800: #222222;
$supporting-grey-700: #333333;
$supporting-grey-600: #666666;
$supporting-grey-500: #808080;
$supporting-grey-400: #999999;
$supporting-grey-300: #cccccc;
$supporting-grey-200: #e5e5e5;
$supporting-grey-100: #f2f2f2;
// Secondary colors 
$secondary-yellow-light: #ffd248;
$secondary-yellow-dark: #e3bb40;
$secondary-orange-light: #fb9500;
$secondary-orange-dark: #de8400;
$secondary-mint-light: #98ff95;
$secondary-mint-dark: #81d97f;
$secondary-teal-light: #7fede7;
$secondary-teal-dark: #6eccc7;
$secondary-violet-light: #5e1ee7;
$secondary-violet-dark: #47349c;
$secondary-lavender-light: #9e99ff;
$secondary-lavender-dark: #8c87e3;
// Utility Colors
$utility-blue: #00B5EF;
$utility-yellow: #FFAA00;
$utility-red: #D23241;
$utility-green: #64A539;