//font sizes
h1,
.h1 {
  @include font-size(52);
  @include font-weight(normal);
  font-family: $font-heading;
  line-height: 1.6;
}

h2,
.h2 {
  @include font-size (45);
  @include font-weight(normal);
  font-family: $font-heading;
  line-height: 1.4;
}

h3,
.h3 {
  @include font-size(26);
  @include font-weight(normal);
  font-family: $font-primary;
  line-height: 1.4;
}

p {
  @include font-size(16);
  line-height: 1.4;
}

.paragraph-p2 {
  @include font-size(16);
  line-height: 1.4;
}

// font weight utils 
.text-semibold {
  @include font-weight(semibold);
}