//font family
$font-heading: 'Unna',
serif;
$font-primary: 'Calibre',
Arial,
Helvetica,
Sans-Serif;


// Colors

$primary-color : #ff8c00;
$primary-color-accent : #ff9b00;
$primary-hover-color : #ffaa00;
$accent-color : #dde0e1;
$accent-hover-color : #eff0f1;
$info-color : #0092bd;
$info-color-light : #00A5D5;
$info-hover-color : #00b5ef;
$special-color : #64a539;
$special-color-light : #73b224;
$special-hover-color : #82be20;
$danger-color : #c6283c;
$error-color : $danger-color;
$danger-color-light : #D23241;
$danger-color-x-light : #E73E51;
$xxx-dark-shade : #000;
$xx-dark-shade : #333;
$x-dark-shade : #4d4d4d;
$dark-shade : #666;
$light-shade : #999;
$x-light-shade : #ccc;
$xx-light-shade : #fff;
$contrast-color : #fff;
$white: #fff;
$black : #000;
$darkness : $black;
$vertiv-gray : $x-dark-shade;
$vertiv-gray-80 : #717171;
$vertiv-gray-60 : #949494;
$vertiv-gray-40 : #b8b8b8;
$vertiv-gray-20 : #dbdbdb;
$vertiv-orange : $primary-color;
$vertiv-orange-med : $primary-color-accent;
$vertiv-orange-light : $primary-hover-color;
$vertiv-red-dark : $danger-color;
$vertiv-red-med : $danger-color-light;
$vertiv-red-light : $danger-color-x-light;
$vertiv-blue-dark : $info-color;
$vertiv-blue-med : $info-color-light;
$vertiv-blue-light : $info-hover-color;
$vertiv-green-dark : $special-color;
$vertiv-green-med : $special-color-light;
$vertiv-green-light : $special-hover-color;


$header-primary-bg : #262626;
$header-secondary-bg : #4d4d4d;
$navbar-text : #fff;
$navbar-text-focus : #fff;
$navbar-text-hover : #fff;
$white : #fff;
$black : #000;
$action-link-text : #999;
$action-icon-text : #4f5053;
$btn-primary-hover : $primary-hover-color;
$btn-primary-text : $xx-light-shade;
$btn-primary-text-hover : $xx-light-shade;
$btn-accent-hover : $x-light-shade;
$btn-accent-text : $info-color;
$btn-accent-text-hover : $xx-dark-shade;
$btn-empty-text : $info-color;
$btn-empty-text-hover : $xx-dark-shade;
$btn-empty-border : #d4d4d4;
$btn-stealth-bg : #404040;
$btn-stealth-text : $xx-light-shade;
$btn-light-hover : $dark-shade;
$btn-light-text : $xx-light-shade;
$btn-light-text-hover : $xx-light-shade;
$search-bg : #212226;
$search-placeholder : $light-shade;
$dropdown-menu-bg : $xx-light-shade;
$dropdown-heading-text : $primary-color;
$dropdown-link-text : #434343;
$dropdown-contrast-bg : #e1e2e4;
$heading-text : $xx-dark-shade;
$heading-1-text : $heading-text;
$heading-2-text : $heading-text;
$heading-3-text : $heading-text;
$heading-4-text : $heading-text;
$heading-5-text : $heading-text;
$heading-6-text : $heading-text;
$heading-7-text : $heading-text;
$heading-8-text : $heading-text;
$heading-9-text : $heading-text;
$heading-contrast-text : $contrast-color;
$heading-1-contrast-text : $heading-contrast-text;
$heading-2-contrast-text : $heading-contrast-text;
$heading-3-contrast-text : $heading-contrast-text;
$heading-4-contrast-text : $heading-contrast-text;
$heading-5-contrast-text : $heading-contrast-text;
$heading-6-contrast-text : $heading-contrast-text;
$heading-7-contrast-text : $heading-contrast-text;
$heading-8-contrast-text : $heading-contrast-text;
$heading-9-contrast-text : $heading-contrast-text;
$wrapper-x-light-shade : #ccc;
$wrapper-xx-light-shade : #d7d7d7;
$wrapper-xxx-light-shade : #e1e1e1;


//test
