.homepage {
  h1 {
    @include font-size(60);
    @include font-weight(light); //letter-spacing: 1px;
    color: $supporting-grey-700;
    font-family: $font-heading;
  }
}

.card {
  @include border-radius(0);
  border: 0;
  .card-body {
    .card-title {
      color: $white;
      @include font-size(32);
      @include font-weight(normal);
    }
    .card-text {
      @include font-size(18);
      @include font-weight(normal);
      text-align: center;
      a {
        color: $vertiv-gray;
      }
    }
  }
}