.section-title {
  //@include font-size (48);
  @include font-weight (bold);
  color: $supporting-grey-700;
}

.toc {
  ul {
    li {
      @include font-size (18);
      margin: 2rem 0;
      a {
        @include font-size (22);
        @include font-weight (normal);
        margin-bottom: 1rem;
        display: block;
        color: $info-color;
        &:hover {
          text-decoration: none;
        }
      }
      p {
        color: $dark-shade;
        @include font-size (16);
      }
    }
  }
}

.topic {
  @include font-size (14);
  @include font-weight (semibold);
  text-transform: uppercase;
  color: $primary-color-refresh;
}

.guidelines-section-content {
  @include font-size (16);
  line-height: 1.2;
  h3 {
    margin-bottom: 2rem;
  }
  p {
    //@include font-size (16);
    margin-bottom: 1.5rem;
  }
  ul {
    li {
      // @include font-size (18);
      line-height: 1.2;
      margin-bottom: 1.5rem;
      margin-left: 2rem;
    }
  }
}

.card {
  @include border-radius(0);
  border: 0;
  .card-body {
    .card-title {
      //color: $white;
      @include font-size(18);
      @include font-weight(normal);
    }
    .card-text {
      @include font-size(14);
      @include font-weight(normal);
    }
  }
}