<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode}}{{ . }} {{ else }}en-US {{end}}">

<head>
    {{- partial "head.html" . -}}
</head>


<body>
    <!-- {{- partial "header.html" . -}} -->

    {{- partial "nav.html" . -}}

    <div class="container">


        <div class="row">

            <!-- Main Block -->
            {{- block "main" . }}
            <!-- Main Block Content -->
            {{- end }}
            <!-- End Main Block -->
            <!-- Footer -->
            <!-- {{- partial "footer.html" . -}} -->

        </div>


    </div>



    <!-- Scripts -->
    {{- partial "scripts.html" . -}}


</body>

</html>