 {{ define "main" }}
<!--  -->
{{- partial "sidebar-3.html" . -}}

<div class="col-8 d-flex mx-auto p-5">.
  <div class="flex-column">

    <div class="toc mt-5">
      <ul>
        {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <p>
            {{ .Description }}
          </p>
        </li>
        {{ end }}
      </ul>



    </div>
  </div>




</div>

{{- partial "related.html" . -}} {{ end }}