 {{ define "main" }}
<!--  -->
{{- partial "sidebar-3.html" . -}}
<!-- Groups content according to content section. The ".Key" in this instance will be the section's title. -->

<div class="col-8 d-flex mx-auto mt-5">
  <div class="flex-column">
    <h3 class="topic">{{ .Params.topic }}</h3>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </div>

</div>






<!-- <div class="row mt-5"> -->
<!--  -->
<!--  -->
<!--  -->
<!-- </div> -->



{{ end }}