<!-- <div class="col-md-12 d-flex "> -->
<!-- <ul class="nav navbar-nav "> -->
<!-- <li class="p-2"> -->
<!-- <a href="https://www.vertivco.com/en-asia/terms-of-use/" target="_blank">Terms of Use</a> -->
<!-- </li> -->
<!-- <li class="p-2"> -->
<!-- <a href="https://www.vertivco.com/en-asia/privacy-policy/" target="_blank">Privacy Policy</a> -->
<!-- </li> -->
<!-- <li class="p-2"> -->
<!-- <a href="https://www.vertivco.com/en-asia/cookie_information/" target="_blank">Cookie Policy</a> -->
<!-- </li> -->
<!-- </ul> -->
<!--  -->
<!-- <ul class="nav navbar-nav"> -->
<!-- <li class="p-2"> -->
<!-- {{ .Site.Copyright }} -->
<!-- </li> -->
<!-- </ul> -->
<!-- </div> -->

<footer class="bg-dark text-white mt-4">
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-md-3">
        <h5>Footer</h5>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-6">I stay at the bottom of the viewport!
        <span class="small">
          <br>Unless the page content pushes me further.</span>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3 text-right small align-self-end">{{ .Site.Copyright }}</div>
    </div>
  </div>
</footer>