<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ .Title }} - {{ .Site.Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1"> {{ .Hugo.Generator }}
<link rel="shortcut icon" type="image/png" href="https://www.vertivco.com/favicon.ico" />

<!-- Latest compiled and minified Bootstrap 4 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
<!-- Unna Font -->
<link href="https://fonts.googleapis.com/css?family=Unna:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">

<!-- Page Styles -->
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />