<nav class="navigation navbar fixed-top  navbar-expand flex-column flex-md-row bd-navbar">

  <div class="flex-row">
    <a class="navbar-brand" href="/" style="width: 150px">
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">

      {{range .Site.Menus.main}}
      <li class="nav-item">
        <a class="nav-link" href="{{ .URL }}">
          {{ .Name }} </a>
      </li>
      {{end}}

    </ul>



  </div>
</nav>