<!-- Sidebar -->
<div class="col-lg-2 col-3 p-4 sidebar-wrapper" id="sticky-sidebar">
  <div class="py-2 sticky-top sidebar-nav ">
    <div class="nav flex-column">

      <div class="sidebar-section py-3">
        <!-- {{ $currentPage := . }} {{ range .Site.Menus.main }} -->
        <!-- <h4 class="{{ if $currentPage.HasMenuCurrent " main " . }}active{{ end }}"> -->
        <!-- <a href="{{ .URL }}" class="active"> -->
        <!-- <span>{{ .Name }}</span> -->
        <!-- </a> -->
        <!-- </h4> -->
        <!--  -->
        <!-- {{ end }} -->
        <!--  -->
        {{ $sectionPages := where .Site.Pages "Section" .Section }} {{ if ge (len $sectionPages) 1 }}
        <ul class="sub-menu mb-5">
          {{ range $sectionPages }}
          <li>
            <a href="{{ .URL }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>
        {{ end }}

      </div>

    </div>
  </div>
</div>