<!-- Sidebar -->
<div class="col-lg-2 col-3 p-4 sidebar-wrapper" id="sticky-sidebar">
  <div class="py-2 sticky-top sidebar-nav ">
    <div class="nav flex-column">

      <div class="sidebar-section py-3">
        <nav class="sidebar-nav">

          <!-- sidebar start -->
          <aside>

            {{ $currentPage := . }}
            <!--  -->
            {{ range .Site.Menus.main }}
            <!--  -->
            {{ if .HasChildren }}
            <h4>
              <a href="{{ .URL }}" class='{{ if or ($.IsMenuCurrent "main" . ) ($.HasMenuCurrent "main" . ) }}active{{ end }}'>
                {{ .Pre }}
                <span>{{ .Name }}</span> 
              </a>
            </h4>
            <!-- Sub Menu Children -->
            <ul class="sub-menu mb-5">
              {{ range .Children }}
              <li class='{{ if $currentPage.IsMenuCurrent "main" . }} active {{ end }}'>
                <a href="{{ .URL }} ">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
            {{ else }}

            <li>
              <a href="{{ .URL }} ">
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
            </li>
            {{ end }}
            <!--  -->
            {{ end }}


          </aside>


        </nav>


      </div>


    </div>
  </div>
</div>