<!-- Sidebar -->

<div class="row d-flex d-md-block flex-nowrap wrapper">

  <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">

    <div class="list-group border-0 text-center text-md-left">

      <!-- list Site Sections -->
      <div class="sidebar-section py-3 mb-5">
        <ul class="list-sections">
          {{ range .Site.Sections }}
          <li>
            <a href="{{ .Permalink }}" class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>

      </div>



    </div>


  </div>


</div>





<!-- <div class="col-lg-2 col-3 p-4 sidebar-wrapper" id="sticky-sidebar">
  <div class="py-2 sticky-top sidebar-nav ">
    <div class="nav flex-column">
      <a href="/">
        <div class="sidebar-brand mb-5">
          <div class="d-flex justify-content-center brand-logo vertiv-logo-white">
          </div>
          <div class="brand-name d-flex justify-content-center mt-3">
            Design Language
          </div>
        </div>
      </a> -->
<!-- list Site Sections -->
<!-- <div class="sidebar-section py-3 mb-5">
        <ul class="list-sections">
          {{ range .Site.Sections }}
          <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
          {{ end }}
        </ul>

      </div> -->


<!-- {{ range $section := .Site.Sections }}

      <div class="sidebar-section py-3">
        <h4>{{ $section.Title }}</h4>
        <ul class="list-sections">
          {{ range .Pages }}
          <li>
            <a href="{{ .Permalink}}"> {{ .LinkTitle }} </a>
          </li>
          {{ end }}
        </ul>

      </div>

      {{ end }}
    </div>
  </div>
</div> -->