{{ define "main" }}
<main class="homepage">

  <div class="col-12 d-flex mx-auto p-5">

  </div>

  <div class="flex-row my-5 justify-content-between ">
    <div class="flex-column mb-5">
      <h1 class="text-center">{{ .Site.Title }}</h1>
    </div>

    {{ range .Site.Sections }}
    <div class="d-inline-flex ml-auto" style="width: 200px;">
      <a href="{{ .Permalink }}">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ .Title }}</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </a>
    </div>




    {{ end }}

  </div>

</main>
{{ end }}